.section {
    margin: 10vh 15vw 20vh 15vw;
}

.contactInfo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.contactSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.contact p {
    margin: 0 2rem;
    color: white;
    font-weight: bolder;
    font-family: 'DIN 2014 Bold';
    font-size: 1.5rem;
}

.whatsappButton {
    width: 90px;
}

@media screen and (max-width: 768px) {
    .section {
        margin: 0;
    }
    .contactSection {
        flex-direction: column;
        font-size: 0.7em;
    }
    .contactInfo {
        width: 80vw;
        margin: 1rem 0;
        padding: 0 10vw;
        justify-content: space-between;
    }
}
