@import url(https://db.onlinewebfonts.com/c/40508c5e045b37ccaca5ccfec24d1479?family=DIN+2014+Light);
@import url(https://db.onlinewebfonts.com/c/e880dd7c6ab5731cbb5db5df70330509?family=DIN+2014+Bold);

.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    padding: 0 15vw;
    opacity: 0;
    animation: fadeIn 0.8s ease-in-out forwards;
    animation-delay: 0.3s;
}

.container {
    color: white;
}

.title {
    font-size: 2rem;
    margin: calc(20vh - 1em) 0 calc(30vh - 1em) 0;
    text-align: center;
    color: white;
    font-family: "DIN 2014 Light";
    font-weight: normal;
    display: flex;
    justify-content: center;
}

.title strong {
    font-family: "DIN 2014 Bold";
    font-weight: bold;
}

.bioButton {
    position: fixed;
    bottom: 8vh;
    right: -60px;
    rotate: -15deg;
    width: 50px;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.bioButtonVisible {
    right: -45px;
    transition: 0.3s;
}

.bioButton:hover {
    right: -20px;
    transition: 0.3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(10px);
    }
}

.infoText {
    font-size: 0.70rem;
    text-align: center;
    line-height: 1.6;
    margin: 1rem;
    justify-self: center;

    background-color: rgba(240, 240, 240, 0.8);
    padding: 0.8rem;
    border-radius: 12px;
    max-width: 600px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);

    opacity: 0;
    animation: fadeIn 0.7s ease-in-out forwards;
    animation-delay: 0.2s;
}

.dialogueBalloon {
    position: fixed;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(120, 170, 227);
    color: white;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
    max-width: 300px;
    text-align: center;
    z-index: 1000;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.dialogueBalloon.fadeOut {
    animation: fadeOut 0.5s ease-in-out forwards;
}

.dismissButton {
    background-color: white;
    color: #007bff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 0.5rem;
    transition: background-color 0.3s;
}

.dismissButton:hover {
    background-color: #f0f0f0;
}

.backgroundVideo {
    position: relative;
    width: 99vw;
    height: 78vh;
    justify-self: center;
    overflow: hidden;
}

.backgroundVideo iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;


    @media (min-aspect-ratio: 16/9) {
        transform: translate(-50%, -50%);
        height: 46.25vw
    }

    @media (max-aspect-ratio: 16/9) {
        transform: translate(-50%, -60%);
        width: 60vh;
    }
}

.gradientBottom {
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
}

.highlights {
    color: white;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

@-webkit-keyframes shake-vertical {

    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }

    20%,
    40%,
    60% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }

    80% {
        -webkit-transform: translateY(3.2px);
        transform: translateY(3.2px);
    }

    90% {
        -webkit-transform: translateY(-3.2px);
        transform: translateY(-3.2px);
    }
}

@keyframes shake-vertical {

    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }

    20%,
    40%,
    60% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }

    80% {
        -webkit-transform: translateY(3.2px);
        transform: translateY(3.2px);
    }

    90% {
        -webkit-transform: translateY(-3.2px);
        transform: translateY(-3.2px);
    }
}

.downArrow {
    color: white;
    margin: 0 0 10vh 0;
    -webkit-animation: shake-vertical 8s linear both infinite;
    animation: shake-vertical 8s linear both infinite;
    position: relative;
    z-index: -1;
    display: flex;
    justify-content: center;
}

.text {
    color: white;
    font-family: 'DIN 2014 Light';
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 28px;
    letter-spacing: 1.35px;
}

.cards {
    padding: 0 15vw;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.cards h2 {
    margin-bottom: 5px;
    font-size: 1.5rem;
}

.card {
    width: 20vw;
    order: 0;
}

.photo {
    height: 20vw;
    width: 20vw;
    object-fit: cover;
}

.clientCarousel {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.videoGallery {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: 1fr 1fr 1fr;

    color: white;
    justify-content: space-between;
    gap: 1rem;

    width: 100%;
}

.whatsappButton {
    width: 90px;
}

.contact {
    margin: 10vh 0 20vh 0;
}

.contactInfo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.contactSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.contact p {
    margin: 0 2rem;
    color: white;
    font-weight: bolder;
    font-family: 'DIN 2014 Bold';
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
    .videoGallery {
        grid-template-columns: 1fr;
    }

    .dialogueBalloon {
        left: 0;
        width: 80vw;
        max-width: 90vw;
        margin: 1rem;
    }

    .title {
        font-size: 1.5rem;
        padding: 0 2rem;
        margin: calc(20vh - 4em) 0 calc(40vh - 4em) 0;
    }

    .photo {
        height: 90vw;
        width: 90vw;
    }

    .card {
        width: 90vw;
    }

    .cards {
        padding: 0;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .card:nth-child(2) {
        order: 1;
    }

    .card:nth-child(1) {
        order: 2;
    }

    .card:nth-child(3) {
        order: 3;
    }

    .backgroundVideo {
        height: 70vh;
    }

    .text {
        padding: 0 10vw;
    }

    .section {
        padding: 0;
    }

    .contactSection {
        flex-direction: column;
        font-size: 0.7em;
    }
    .contactInfo {
        width: 80vw;
        margin: 1rem 0;
        padding: 0 10vw;
        justify-content: space-between;
    }

    .container p {
        margin: 0;
    }
}