.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the container takes the full height of the viewport */
    /* position: relative; */
}

.menu {
    width: 100%;
    padding: 0;
    position: fixed;
    top: 0;
    transition: width 0.3s ease-in-out;
    height: 5vh;
    align-content: center;
    padding: 1vh;
}

.content {
    display: flex;
    padding: 6rem 0 1rem 0;
    flex: 1;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    left: 0;
    transition: width 0.3s ease-in-out;

}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.footer {
    color: white;
    margin-top: auto; /* Push the footer to the bottom if the content is not enough */
}

.gradient {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1), transparent);
    z-index: 0;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-out;
}

@media (max-width: 768px) {
    .menu {
        top: 0;
        left: 0;
    }
}