.videoLandscape {
    width: 100%;
    --video-width: 0px;
    height: calc(((var(--video-width) * 9) / 16) + 4rem);
}

.videoLandscape video {
    width: 100%;
    height: calc((var(--video-width) * 9) / 16);
}

.videoPortrait {
    grid-row: span 2;
    width: 100%;
    --video-width: 0px;
    height: calc(((var(--video-width) * 16) / 9) + 4rem);
}

.videoPortrait video {
    width: 100%;
    height: calc((var(--video-width) * 16) / 9);
}

.title {
    font-size: 1.5rem;
    justify-self: center;
    margin: 0.5em 0;
}

@media screen and (max-width: 768px) {
    .videoLandscape video {
        width: 90%;
        display: flex;
        justify-self: center;
    }
    .videoLandscape {
        height: auto;
    }

    .videoPortrait {
        height: auto;
    }
}