.videoLandscape {
    width: 100%;
    --iframe-width: 0px; 
    height: calc(((var(--iframe-width) * 9) / 16) + 4rem);
}

.videoLandscape iframe {
    width: 100%;
    height: calc((var(--iframe-width) * 9) / 16);
}

.videoPortrait {
    grid-row: span 2;
    justify-items: center;
    width: 100%;
    --iframe-width: 0px; 
    height: calc(((var(--iframe-width) * 16) / 9) + 4rem);
}

.videoPortrait iframe {
    width: 100%;
    height: calc((var(--iframe-width) * 16) / 9);
}

.title {
    font-size: 1.5rem;
    justify-self: center;
    margin: 0.5em 0;
}

@media screen and (max-width: 768px) {
    .videoLandscape iframe {
        width: 90%;
        display: flex;
        justify-self: center;
    }
    .videoLandscape {
        height: 40vh;
    }

    .videoPortrait {
        height: 90vh;
    }
}