.background {
    background-color: white;
    padding: 1vh 0 10vh 0;
}

.text {
    color: black;
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'DIN 2014 bold';
    font-size: 2em;
}

.carouselContainer {
    display: flex;
    justify-content: flex-start;
    overflow: scroll;
    width: 99vw;
    user-select: none;
    -webkit-user-drag: none;
    /* Firefox */
    scrollbar-width: none;
    /* Internet Explorer 10+ */
    -ms-overflow-style: none;
}

.carouselContainer::-webkit-scrollbar {
    /* Safari and Chrome */
    display: none;
}

.carousel {
    display: flex;
    animation: scroll 50s linear infinite;
    user-select: none;
    -webkit-user-drag: none;
}

.carousel img {
    max-width: 100px;
    margin: 0 1rem;
    transition: transform 0.3s;
    user-select: none;
    -webkit-user-drag: none;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-25%);
    }
}